#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: black;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #999;
  background: #fff;
  border-radius: 1rem;
  width: 500px;
  min-height: 80vh;
  padding: 2rem;
}

.addProductContainer{
  width: 100%;
}

form {
  display: flex;
  gap: 3px;
}

.addProductInput {
  border-radius: 0.5em;
  padding: 0.8em;
  width: 90%;
}

.listaContainer {
  /* height: 1000px; */
  width: 100%;
  display: flex;
  /* align-items: center; */
}

.listaContainer ul {
  width: 100%;
  padding: 0;
}

.listaContainer ul li {
  list-style: none;
  color: #333;
  font-size: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.accionsContainer {
  display: flex;
  font-size: 15px;
  gap: 3px;
}

.crossedOut {
  position: relative;
  display: inline-block;
  color: #c3c8de;
}

.crossedOut::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 130%;
  height: 0.1rem; /* grosor de la línea */
  background-color: #c3c8de; /* color de la línea */
  transform: translateY(-50%);
  transform: translateX(-10%);
}